
body {
  margin: 0;
  background-color: #1E1E1E;
}

header, footer {
  background-color: #F24822;
  color: white;
  
}

header {
  position: static;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F24822;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #F24822;
}

.navbar li {
  margin: 0 10px;
}

.navbar a img {
  width: 50px;
  height: 50px;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: '▼';
  font-size: 15px;
  margin-left: 7px;
  display: absolute;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
legend {
  /* font-size: 2.5rem; */
  color:#F24822;
  text-align: center;
  padding:20px 0; 
  font-size:20px;

}

main {
	display: grid;
	grid-template-columns: 50% 50%;
	/* margin-top: 10%; */
}

main label{
	color:#ffffff;
	font-size: 2.2rem;
}

label{
	color:#ffffff;
	font-size: 2.2rem;
}


div input{
	color:white;
	background-color: #F24822;
	font-size: 1.9rem;
}

.boutons {
	display: grid;
	grid-template-columns: 200px 10px;
	margin-top : 10px;
  margin-left:10px;

}

.inscrire {
	margin-top : 10px;
}

footer{
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 1;
  right: 0;
  justify-content: space-between;
  height: auto;
  width: 100%;
	
}